.gradient{
    background: $color-gradient;
    border-radius: 20px;
    width: 80vw;
    min-height: 10vh;
    margin-bottom: 30px;

                    
}
.navbar{
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: none;
}

.contenedor {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    
}        
.contenedor__titulo{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}


